.row{
    display: flex;
}
.column{
    display: flex;
    flex-direction: column;
}

table{
    margin: 5px;
    padding: 5px;
    outline-style: solid;
    outline-color: black;
}
thead{
    background-color: black;
    color: white;
}
tr:nth-child(even){
    background-color: lightgray;
}
th, td{
    padding: 5px;
}

h1{
    margin: 5px;
}