<div class="grid-container">
    <div class="grid-item-blank"></div>
    <div class="grid-item-blank">W</div>
    <div class="grid-item-blank">R</div>
    <div class="grid-item-blank">Y</div>
    <div class="grid-item-blank">M</div>
    <div class="grid-item-blank">H</div>
    <div class="grid-item-blank">N</div>
    <div class="grid-item-blank">T</div>
    <div class="grid-item-blank">S</div>
    <div class="grid-item-blank">K</div>
    <div class="grid-item-blank">*</div>
    <div class="grid-item-blank"></div>
    
    <div class="grid-item-blank"></div>
    <div class="grid-item"><div>わ</div></div>
    <div class="grid-item"><div>ら</div><div></div></div>
    <div class="grid-item"><div>や</div><div></div></div>
    <div class="grid-item"><div>ま</div><div></div></div>
    <div class="grid-item"><div>は</div><div></div></div>
    <div class="grid-item"><div>な</div><div></div></div>
    <div class="grid-item"><div>た</div><div></div></div>
    <div class="grid-item"><div>さ</div><div></div></div>
    <div class="grid-item"><div>か</div><div></div></div>
    <div class="grid-item"><div>あ</div><div>ア</div></div>
    <div class="grid-item-blank">A</div>

    <div class="grid-item-blank"></div>
    <div class="grid-item-blank"></div>
    <div class="grid-item"><div>り</div><div></div></div>
    <div class="grid-item-blank"></div>
    <div class="grid-item"><div>み</div><div></div></div>
    <div class="grid-item"><div>ひ</div><div></div></div>
    <div class="grid-item"><div>に</div><div></div></div>
    <div class="grid-item"><div>ち</div><div></div></div>
    <div class="grid-item"><div>し</div><div></div></div>
    <div class="grid-item"><div>き</div><div></div></div>
    <div class="grid-item"><div>い</div><div></div></div>
    <div class="grid-item-blank">I</div>

    <div class="grid-item"><div>A</div></div>
    <div class="grid-item-blank"></div>
    <div class="grid-item"><div>A</div><div></div></div>
    <div class="grid-item"><div>A</div><div></div></div>
    <div class="grid-item"><div>A</div><div></div></div>
    <div class="grid-item"><div>A</div><div></div></div>
    <div class="grid-item"><div>A</div><div></div></div>
    <div class="grid-item"><div>A</div><div></div></div>
    <div class="grid-item"><div>A</div><div></div></div>
    <div class="grid-item"><div>A</div><div></div></div>
    <div class="grid-item"><div>う</div><div></div></div>
    <div class="grid-item-blank">U</div>

    <div class="grid-item-blank"></div>
    <div class="grid-item-blank"></div>
    <div class="grid-item"><div>A</div><div></div></div>
    <div class="grid-item-blank"></div>
    <div class="grid-item"><div>A</div><div></div></div>
    <div class="grid-item"><div>A</div><div></div></div>
    <div class="grid-item"><div>A</div><div></div></div>
    <div class="grid-item"><div>A</div><div></div></div>
    <div class="grid-item"><div>A</div><div></div></div>
    <div class="grid-item"><div>A</div><div></div></div>
    <div class="grid-item"><div>A</div><div></div></div>
    <div class="grid-item-blank">E</div>

    <div class="grid-item-blank"></div>
    <div class="grid-item"><div>A</div><div></div></div>
    <div class="grid-item"><div>A</div><div></div></div>
    <div class="grid-item"><div>A</div><div></div></div>
    <div class="grid-item"><div>A</div><div></div></div>
    <div class="grid-item"><div>A</div><div></div></div>
    <div class="grid-item"><div>A</div><div></div></div>
    <div class="grid-item"><div>A</div><div></div></div>
    <div class="grid-item"><div>A</div><div></div></div>
    <div class="grid-item"><div>A</div><div></div></div>
    <div class="grid-item"><div>A</div><div></div></div>
    <div class="grid-item-blank">O</div>
</div>

<table>
    <tr>
        <th>Hiragana Ending</th>
        <th>Replacement Pattern</th>
        <th>Dictionary Form</th>
        <th>Te-Form</th>
    </tr>
    <tr>
        <td>ku</td>
        <td>ite</td>
        <td>kaku</td>
        <td>kaite</td>
    </tr>
    <tr>
        <td>gu</td>
        <td>ide</td>
        <td>oyogu</td>
        <td>oyoide</td>
    </tr>
</table>
<h1> test change </h1>