<div class="card">
        <div *ngIf="isFlipped === false">
                <h1>{{detail.frontSideA}}</h1>
                <h2>{{detail.frontSideB}}</h2>
                <button class="flip-button" (click)="flipCard()">Flip</button>
        </div>
        <div *ngIf="isFlipped === true">
                <h1>{{detail.backSideA}}</h1>
                <h2>{{detail.backSideB}}</h2>
                <button class="correct-button" (click)="correct()">Y</button>
                <button class="incorrect-button" (click)="incorrect()">X</button>
        </div>
</div>