<div class="grid-container">
    <div class="grid-item-blank"></div>
    <div class="grid-item-blank">W</div>
    <div class="grid-item-blank">R</div>
    <div class="grid-item-blank">Y</div>
    <div class="grid-item-blank">M</div>
    <div class="grid-item-blank">H</div>
    <div class="grid-item-blank">N</div>
    <div class="grid-item-blank">T</div>
    <div class="grid-item-blank">S</div>
    <div class="grid-item-blank">K</div>
    <div class="grid-item-blank">*</div>
    <div class="grid-item-blank"></div>
    
    <div class="grid-item-blank"></div>
    <div class="grid-item"><div>わ</div>wa</div>
    <div class="grid-item"><div>ら</div><div>ra</div></div>
    <div class="grid-item"><div>や</div><div>ya</div></div>
    <div class="grid-item"><div>ま</div><div>ma</div></div>
    <div class="grid-item"><div>は</div><div>ha</div></div>
    <div class="grid-item"><div>な</div><div>na</div></div>
    <div class="grid-item"><div>た</div><div>ta</div></div>
    <div class="grid-item"><div>さ</div><div>sa</div></div>
    <div class="grid-item"><div>か</div><div>ka</div></div>
    <div class="grid-item"><div>あ</div><div>a</div></div>
    <div class="grid-item-blank">A</div>

    <div class="grid-item-blank"></div>
    <div class="grid-item-blank"></div>
    <div class="grid-item"><div>り</div><div>ri</div></div>
    <div class="grid-item-blank"></div>
    <div class="grid-item"><div>み</div><div>mi</div></div>
    <div class="grid-item"><div>ひ</div><div>hi</div></div>
    <div class="grid-item"><div>に</div><div>ni</div></div>
    <div class="grid-item"><div>ち</div><div>chi</div></div>
    <div class="grid-item"><div>し</div><div>shi</div></div>
    <div class="grid-item"><div>き</div><div>ki</div></div>
    <div class="grid-item"><div>い</div><div>i</div></div>
    <div class="grid-item-blank">I</div>

    <div class="grid-item"><div>ん</div>n/m/ng</div>
    <div class="grid-item-blank"></div>
    <div class="grid-item"><div>る</div><div>ru</div></div>
    <div class="grid-item"><div>ゆ</div><div>yu</div></div>
    <div class="grid-item"><div>む</div><div>mu</div></div>
    <div class="grid-item"><div>ふ</div><div>fu</div></div>
    <div class="grid-item"><div>ぬ</div><div>nu</div></div>
    <div class="grid-item"><div>つ</div><div>tsu</div></div>
    <div class="grid-item"><div>す</div><div>su</div></div>
    <div class="grid-item"><div>く</div><div>ku</div></div>
    <div class="grid-item"><div>う</div><div>u</div></div>
    <div class="grid-item-blank">U</div>

    <div class="grid-item-blank"></div>
    <div class="grid-item-blank"></div>
    <div class="grid-item"><div>れ</div><div>re</div></div>
    <div class="grid-item-blank"></div>
    <div class="grid-item"><div>め</div><div>me</div></div>
    <div class="grid-item"><div>へ</div><div>he</div></div>
    <div class="grid-item"><div>ね</div><div>ne</div></div>
    <div class="grid-item"><div>て</div><div>te</div></div>
    <div class="grid-item"><div>せ</div><div>se</div></div>
    <div class="grid-item"><div>け</div><div>ke</div></div>
    <div class="grid-item"><div>え</div><div>e</div></div>
    <div class="grid-item-blank">E</div>

    <div class="grid-item-blank"></div>
    <div class="grid-item"><div>を</div><div>wo/o</div></div>
    <div class="grid-item"><div>ろ</div><div>ro</div></div>
    <div class="grid-item"><div>よ</div><div>yo</div></div>
    <div class="grid-item"><div>も</div><div>mo</div></div>
    <div class="grid-item"><div>ほ</div><div>ho</div></div>
    <div class="grid-item"><div>の</div><div>no</div></div>
    <div class="grid-item"><div>と</div><div>to</div></div>
    <div class="grid-item"><div>そ</div><div>so</div></div>
    <div class="grid-item"><div>こ</div><div>ko</div></div>
    <div class="grid-item"><div>お</div><div>o</div></div>
    <div class="grid-item-blank">O</div>
</div>