.grid-container{
    display: grid;
    grid-template-columns: auto auto auto auto auto auto auto auto auto auto auto auto;
    padding: 10px;
    margin: 5px;
    outline-style: solid;
    outline-color: black;
}
.grid-item{
    background-color: gray;
    color: white;
    padding: 20px;
    margin: 2px;
    font-size: 30px;
    text-align: center;
}
.grid-item:hover{
    background-color: black;
}
.grid-item-blank{
    padding: 20px;
    margin: 5px;
    font-size: 30px;
    text-align: center;
}

table{
    margin: 5px;
    outline-style: solid;
    outline-color: black;
}