.grid-container{
    display: grid;
    grid-template-columns: auto auto auto auto auto auto auto auto auto auto auto auto;
    padding: 10px;
    margin: 5px;
    outline-style: solid;
    outline-color: black;
}
.grid-container-dakuten{
    display: grid;
    grid-template-columns: auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto;
    padding: 10px;
    margin: 5px;
    outline-style: solid;
    outline-color: black;
}
.grid-container-handakuten{
    display: grid;
    grid-template-columns: auto auto auto auto auto auto auto auto auto auto auto auto auto;
    padding: 10px;
    margin: 5px;
    outline-style: solid;
    outline-color: black;
}
.grid-container-daku-han{
    display: grid;
    grid-template-columns: auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto;
    padding: 10px;
    margin: 5px;
    outline-style: solid;
    outline-color: black;
}
.grid-item{
    background-color: gray;
    color: white;
    padding: 20px;
    margin: 2px;
    font-size: 30px;
    text-align: center;
}
.grid-item:hover{
    background-color: black;
}
.grid-item-blank{
    padding: 20px;
    margin: 5px;
    font-size: 30px;
    text-align: center;
}

.row{
    display: flex;
}
.column{
    display: flex;
    flex-direction: column;
}

table{
    margin: 5px;
    padding: 5px;
    outline-style: solid;
    outline-color: black;
}
thead{
    background-color: black;
    color: white;
}
tr:nth-child(even){
    background-color: lightgray;
}
th, td{
    padding: 5px;
}

h1{
    margin: 5px;
}