<div class="column">
    <div class="displayHiragana">
        <div [ngClass]="{'hiraganaBox':baseIndex>0,'hiraganaBoxBase':baseIndex<=0,'hiraganaBoxConjugation':conjugationIndex<=0}">{{box0}}</div>
        <div [ngClass]="{'hiraganaBox':baseIndex>1,'hiraganaBoxBase':baseIndex<=1,'hiraganaBoxConjugation':conjugationIndex<=1}">{{box1}}</div>
        <div [ngClass]="{'hiraganaBox':baseIndex>2,'hiraganaBoxBase':baseIndex<=2,'hiraganaBoxConjugation':conjugationIndex<=2}">{{box2}}</div>
        <div [ngClass]="{'hiraganaBox':baseIndex>3,'hiraganaBoxBase':baseIndex<=3,'hiraganaBoxConjugation':conjugationIndex<=3}">{{box3}}</div>
        <div [ngClass]="{'hiraganaBox':baseIndex>4,'hiraganaBoxBase':baseIndex<=4,'hiraganaBoxConjugation':conjugationIndex<=4}">{{box4}}</div>
        <div [ngClass]="{'hiraganaBox':baseIndex>5,'hiraganaBoxBase':baseIndex<=5,'hiraganaBoxConjugation':conjugationIndex<=5}">{{box5}}</div>
        <div [ngClass]="{'hiraganaBox':baseIndex>6,'hiraganaBoxBase':baseIndex<=6,'hiraganaBoxConjugation':conjugationIndex<=6}">{{box6}}</div>
        <div [ngClass]="{'hiraganaBox':baseIndex>7,'hiraganaBoxBase':baseIndex<=7,'hiraganaBoxConjugation':conjugationIndex<=7}">{{box7}}</div>
        <div [ngClass]="{'hiraganaBox':baseIndex>8,'hiraganaBoxBase':baseIndex<=8,'hiraganaBoxConjugation':conjugationIndex<=8}">{{box8}}</div>
        <div [ngClass]="{'hiraganaBox':baseIndex>9,'hiraganaBoxBase':baseIndex<=9,'hiraganaBoxConjugation':conjugationIndex<=9}">{{box9}}</div>
        <div [ngClass]="{'hiraganaBox':baseIndex>10,'hiraganaBoxBase':baseIndex<=10,'hiraganaBoxConjugation':conjugationIndex<=10}">{{box10}}</div>
        <div [ngClass]="{'hiraganaBox':baseIndex>11,'hiraganaBoxBase':baseIndex<=11,'hiraganaBoxConjugation':conjugationIndex<=11}">{{box11}}</div>
        <div [ngClass]="{'hiraganaBox':baseIndex>12,'hiraganaBoxBase':baseIndex<=12,'hiraganaBoxConjugation':conjugationIndex<=12}">{{box12}}</div>
        <div [ngClass]="{'hiraganaBox':baseIndex>13,'hiraganaBoxBase':baseIndex<=13,'hiraganaBoxConjugation':conjugationIndex<=13}">{{box13}}</div>
        <div [ngClass]="{'hiraganaBox':baseIndex>14,'hiraganaBoxBase':baseIndex<=14,'hiraganaBoxConjugation':conjugationIndex<=14}">{{box14}}</div>
    </div>

    <div class="verbDetails">
        <div class="column">
            <div>{{selectedVerb.dictionaryFormK}} ({{selectedVerb.dictionaryFormHK}}) {{selectedVerb.dictionaryFormRomanji}}</div>
            <div>{{selectedVerb.english}}</div>
        </div>
        <div>{{usage}}</div>
        <div>{{selectedVerb.verbType}}</div>
    </div>

    <div>
        <input type="text" [(ngModel)]="pendingVerb">
        <button (click)="updateVerb(pendingVerb)">Update Verb</button>
    </div>

    <div class="row">
        <div>
            <div class="verb-form-button" (click)="changeVerbBase('1')">
                <div style="font-size: 20px;">あ</div>
                <div style="font-size: 20px;">form</div>
            </div>
            <div class="verb-form-button" (click)="changeVerbBase('2')">
                <div style="font-size: 20px;">い</div>
                <div style="font-size: 20px;">form</div>
            </div>
            <div class="verb-form-button" (click)="changeVerbBase('3')">
                <div style="font-size: 20px;">う</div>
                <div style="font-size: 20px;">form</div>
            </div>
            <div class="verb-form-button" (click)="changeVerbBase('4')">
                <div style="font-size: 20px;">え</div>
                <div style="font-size: 20px;">form</div>
            </div>
            <div class="verb-form-button" (click)="changeVerbBase('5')">
                <div style="font-size: 20px;">お</div>
                <div style="font-size: 20px;">form</div>
            </div>
            <div class="verb-form-button" (click)="changeVerbBase('te')">
                <div style="font-size: 20px;">て</div>
                <div style="font-size: 20px;">form</div>
            </div>
            <div class="verb-form-button" (click)="changeVerbBase('ta')">
                <div style="font-size: 20px;">た</div>
                <div style="font-size: 20px;">form</div>
            </div>
        </div>
        <div class="input-area">
            <!-- <div class="conjugation-buttons">
                <div *ngIf="currentBase === '2'" class="conjugation-button" (click)="addConjugation('politePresentFuture')">ます</div>
                <div *ngIf="currentBase != '2'" class="conjugation-button-disabled">ます</div>
                <div *ngIf="currentBase === '2'" class="conjugation-button" (click)="addConjugation('politePast')">ました</div>
                <div *ngIf="currentBase != '2'" class="conjugation-button-disabled">ました</div>
                <div *ngIf="currentBase === '2'" class="conjugation-button" (click)="addConjugation('politeNeg')">ません</div>
                <div *ngIf="currentBase != '2'" class="conjugation-button-disabled">ません</div>
                <div *ngIf="currentBase === '2'" class="conjugation-button" (click)="addConjugation('politePastNeg')">ませんでした</div>
                <div *ngIf="currentBase != '2'" class="conjugation-button-disabled">ませんでした</div>

                <div *ngIf="currentBase === '2'" class="conjugation-button" (click)="addConjugation('lets')">ましょう</div>
                <div *ngIf="currentBase != '2'" class="conjugation-button-disabled">ましょう</div>
                <div *ngIf="currentBase === '0'" class="conjugation-button" (click)="addConjugation('aaa')"></div>
                <div *ngIf="currentBase != '0'" class="conjugation-button-disabled"></div>
                <div *ngIf="currentBase === '1'" class="conjugation-button" (click)="addConjugation('plainNeg')">ない</div>
                <div *ngIf="currentBase != '1'" class="conjugation-button-disabled">ない</div>
                <div *ngIf="currentBase === '1'" class="conjugation-button" (click)="addConjugation('plainPastNeg')">なかった</div>
                <div *ngIf="currentBase != '1'" class="conjugation-button-disabled">なかった</div>

                <div *ngIf="currentBase === '0'" class="conjugation-button" (click)="addConjugation('aaa')"></div>
                <div *ngIf="currentBase != '0'" class="conjugation-button-disabled"></div>
                <div *ngIf="currentBase === '0'" class="conjugation-button" (click)="addConjugation('aaa')"></div>
                <div *ngIf="currentBase != '0'" class="conjugation-button-disabled"></div>
                <div *ngIf="currentBase === '0'" class="conjugation-button" (click)="addConjugation('aaa')"></div>
                <div *ngIf="currentBase != '0'" class="conjugation-button-disabled"></div>
                <div *ngIf="currentBase === '0'" class="conjugation-button" (click)="addConjugation('aaa')"></div>
                <div *ngIf="currentBase != '0'" class="conjugation-button-disabled"></div>
            </div> -->
            <div class="polite-verb-options">
                <div *ngIf="currentBase === '2'" class="conjugation-button" (click)="addConjugation('politePresentFuture')">ます</div>
                <div *ngIf="currentBase != '2'" class="conjugation-button-disabled">ます</div>
                <div *ngIf="currentBase === '2'" class="conjugation-button" (click)="addConjugation('politePast')">ました</div>
                <div *ngIf="currentBase != '2'" class="conjugation-button-disabled">ました</div>
                <div *ngIf="currentBase === '2'" class="conjugation-button" (click)="addConjugation('politeNeg')">ません</div>
                <div *ngIf="currentBase != '2'" class="conjugation-button-disabled">ません</div>
                <div *ngIf="currentBase === '2'" class="conjugation-button" (click)="addConjugation('politePastNeg')">ませんでした</div>
                <div *ngIf="currentBase != '2'" class="conjugation-button-disabled">ませんでした</div>
                <div *ngIf="currentBase === 'te'" class="conjugation-button" (click)="addConjugation('politeCommand')">ください</div>
                <div *ngIf="currentBase != 'te'" class="conjugation-button-disabled">ください</div>
            </div>
            <div class="plain-verb-options">
                <div *ngIf="currentBase === '3'" class="conjugation-button" (click)="addConjugation('')">う-form</div>
                <div *ngIf="currentBase != '3'" class="conjugation-button-disabled">う-form</div>
                <div *ngIf="currentBase === 'ta'" class="conjugation-button" (click)="addConjugation('')">た-form</div>
                <div *ngIf="currentBase != 'ta'" class="conjugation-button-disabled">た-form</div>
                <div *ngIf="currentBase === '1'" class="conjugation-button" (click)="addConjugation('plainNeg')">ない</div>
                <div *ngIf="currentBase != '1'" class="conjugation-button-disabled">ない</div>
                <div *ngIf="currentBase === '1'" class="conjugation-button" (click)="addConjugation('plainPastNeg')">なかった</div>
                <div *ngIf="currentBase != '1'" class="conjugation-button-disabled">なかった</div>
                <div *ngIf="currentBase === 'te'" class="conjugation-button" (click)="addConjugation('')">て-form</div>
                <div *ngIf="currentBase != 'te'" class="conjugation-button-disabled">て-form</div>
            </div>
            <div class="other-verb-options">
                <div *ngIf="currentBase === '2'" class="conjugation-button" (click)="addConjugation('lets')">ましょう</div>
                <div *ngIf="currentBase != '2'" class="conjugation-button-disabled">ましょう</div>
                <div *ngIf="currentBase === '0'" class="conjugation-button" (click)="addConjugation('aaa')">aaa</div>
                <div *ngIf="currentBase != '0'" class="conjugation-button-disabled">aaa</div>
                <div *ngIf="currentBase === '0'" class="conjugation-button" (click)="addConjugation('aaa')">aaa</div>
                <div *ngIf="currentBase != '0'" class="conjugation-button-disabled">aaa</div>
                <div *ngIf="currentBase === '0'" class="conjugation-button" (click)="addConjugation('aaa')">aaa</div>
                <div *ngIf="currentBase != '0'" class="conjugation-button-disabled">aaa</div>
            </div>
        </div>
    </div>
</div>