.column{
    display: flex;
    flex-direction: column;
}
.row{
    display: flex;
    flex-direction: row;
}

.displayHiragana{
    display: flex;
    flex-direction: row;
}
.hiraganaBox{
    background-color: ghostwhite;
    border-radius: 20px;
    border-style: dotted;
    border-color: black;
    justify-content: center;
    align-content: center;
    text-align: center;
    font-size: 50px;
    height: 70px;
    width: 70px;
    margin: 5px;
}
.hiraganaBoxBase{
    background-color: ghostwhite;
    border-radius: 20px;
    border-style: dotted;
    border-color: black;
    justify-content: center;
    align-content: center;
    text-align: center;
    font-size: 50px;
    height: 70px;
    width: 70px;
    margin: 5px;
    color: blue;
}
.hiraganaBoxConjugation{
    background-color: ghostwhite;
    border-radius: 20px;
    border-style: dotted;
    border-color: black;
    justify-content: center;
    align-content: center;
    text-align: center;
    font-size: 50px;
    height: 70px;
    width: 70px;
    margin: 5px;
    color: lightcoral;
}

.verbDetails{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.verb-form-button{
    display: flex;
    flex-direction: column;
    background-color: lightgray;
    border-radius: 20px;
    justify-content: center;
    align-content: center;
    text-align: center;
    font-size: 15px;
    height: 50px;
    width: 100px;
    margin: 5px;
}

.input-area{
    display: flex;
    flex-direction: column;
}
.conjugation-buttons{
    display: grid;
    grid-template-columns: auto auto auto auto;
}
.conjugation-button{
    background-color: lightblue;
    border-radius: 20px;
    border-style: solid;
    border-color: ghostwhite;
    justify-content: center;
    align-content: center;
    text-align: center;
    height: 50px;
    width: 100px;
    margin: 5px;
}
.conjugation-button-disabled{
    background-color: lightgray;
    border-radius: 20px;
    border-style: solid;
    border-color: ghostwhite;
    color: gray;
    justify-content: center;
    align-content: center;
    text-align: center;
    height: 50px;
    width: 100px;
    margin: 5px;
}

.polite-verb-options{
    display: grid;
    grid-template-columns: auto auto auto auto auto;
    border-style: solid;
    border-color: blue;
    background-color: lightblue;
    margin: 10px;
}
.plain-verb-options{
    display: grid;
    grid-template-columns: auto auto auto auto auto;
    border-style: solid;
    border-color: green;
    background-color: lightgreen;
    margin: 10px;
}
.other-verb-options{
    display: grid;
    grid-template-columns: auto auto auto auto auto;
    border-style: solid;
    border-color: purple;
    background-color: pink;
    margin: 10px;
}