table{
    margin: 5px;
    padding: 5px;
    outline-style: solid;
    outline-color: black;
    width: 100%;
}
thead{
    background-color: black;
    color: white;
}
// tr:nth-of-type(even){
//     background-color: lightgray;
// }
th, td{
    padding: 5px;
}
.oddRow{
    background-color: lightgray;
}