table{
    outline-style: solid;
    outline-color: black;
    margin: 5px;
    padding: 5px;
    width: 100%;
}
.small-table{
    outline-style: solid;
    outline-color: black;
    margin: 5px;
    padding: 5px;
    width: 50%;
}
thead{
    background-color: black;
    color: white;
}
tr:nth-of-type(even){
    background-color: lightgray;
}
th, td{
    padding: 5px;
}
.oddRow{
    background-color: lightgray;
}

.wordDisplayContainerNoun{
    margin: 5px;
    padding: 5px;
    width: 100%;
    display: flex;
    flex-direction: column;
}
.wordDisplayContainerVerb{
    margin: 5px;
    padding: 5px;
    width: 100%;
    display: flex;
    flex-direction: row;
}
.column{
    display: flex;
    flex-direction: column;
}