<style>
  :host {
    font-family: "Inter", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
      Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
      "Segoe UI Symbol";
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
</style>

<meta charset="utf-8" /> 
<main class="main">
  <div class="content">
    <div class="left-side">
      <a routerLink=""><h1 class="title" [innerHTML]="title"></h1></a>
      <hr />
      <div class="activity-section">
        <router-outlet />
      </div>
    </div>
    <div class="right-side-filler"></div>
    <div class="right-side">
      <div class="row">
        <div class="divider"></div>
        <div class="pill-group">
          @for (item of [
            { title: 'Syllabary', link: '/syllabary' },
            { title: 'Charts', link: '/charts' },
            { title: 'Flash Cards', link: '/flashcards' },
            { title: 'Dictionary', link: '/dictionary' },
            { title: 'Exercises', link: '/danjgajnag' },
            { title: 'Coming Soon', link: '/danjgajnag' },
            { title: 'Coming Soon', link: '/danjgajnag' },
            { title: 'Coming Soon', link: '/danjgajnag' },
            { title: 'Coming Soon', link: '/danjgajnag' },
          ]; track item.title) {
            <a
              class="pill"
              [routerLink]="item.link"
            >
              <span>{{ item.title }}</span>
              <svg
                xmlns="http://www.w3.org/2000/svg"
                height="14"
                viewBox="0 -960 960 960"
                width="14"
                fill="currentColor"
              >
                <path
                  d="M200-120q-33 0-56.5-23.5T120-200v-560q0-33 23.5-56.5T200-840h280v80H200v560h560v-280h80v280q0 33-23.5 56.5T760-120H200Zm188-212-56-56 372-372H560v-80h280v280h-80v-144L388-332Z"
                />
              </svg>
            </a>
          }
        </div>
    </div>
    </div>
  </div>
</main>
